# Project exclude paths
/.gradle/
/Simple Tic-Tac-Toe/task/build/
/Simple Tic-Tac-Toe/task/out/
/Simple Tic-Tac-Toe/task/out/production/classes/
/Topics/Iterating over arrays/Sum array elements greater than a value/out/
/Topics/Iterating over arrays/Sum array elements greater than a value/out/production/classes/
/Topics/Switch statement/Rewriting code using switch/out/
/Topics/Switch statement/Rewriting code using switch/out/production/classes/
/Topics/The for-loop/Maximum element divisible by four/out/
/Topics/The for-loop/Maximum element divisible by four/out/production/classes/